<div class="page-wrapper">
  <h2>Neki naslov</h2>
  <form action="/articles" method="article[title]" id="forma" >
    Title: <br>
    <input type="text" name="article[body]"> <br>
    Body: <br>
    <textarea name="body" id="forma" cols="30" rows="10">Neki text...</textarea><br>
    <input type="submit" value="Submit">
  </form>

</div>